!<!DOCTYPE html>
<html>
  <body>
  <form action="/checkout" method="POST">
    Item Name:<input type="text" id="item[name]" name="item[name]">
    <input type="submit" name="submit" value="submit">
  </form>
  </body>
</html>
